.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app_title{
  padding: 15px;
 
  border-radius: 10px;
  box-shadow: 2px 2px 10px silver;
}
.app input{
  width: 100%;
  outline: none;
  margin: 2px;
}

.ville{
  display:flex;
  justify-content: center;
  align-items: center;
}